<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Users
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        Users
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list>
    <app-user *ngFor="let user of users" [user]="user.data" [id]="user.id"></app-user>
  </ion-list>
</ion-content>